*.bak
*/*.bak
*/*/*.bak
docxs/~*
docxs/*/~*
docxs/*tmp
target
target/*
*log
out
EncodingPatch/GB2312ToUTF8
uniselect/node_modules
ProjectStarter
Projectstarter/Projectstarter
node_modules
cppPatch/ProjectstarterBuild/ProjectStarter
cppPatch/PushCode/Push
cppPatch/EncodingPatch/GB2312ToUTF8
cppPatch/CodeGenerator/CodeGenerator
cppPatch/CodeGenerator/*java
ProjectStarter
uniselect/ProjectStarter
src/main/resources/static/*
